@charset "UTF-8";

html {
	background-color: #f5f5f5;
}

body {
	text-align: center;
	font-family: 'Zen Kaku Gothic New', sans-serif;
	margin: 0;
	padding: 0;
	overflow: hidden
}

footer {
	position: absolute;
	bottom: 0;
	text-align: left;
}

div#body {
	width: 35vw;
	text-align: left;
	text-align: center;
	background: #ffffff
}

div#side_box {
	width: 20vw;
	float: left;
	align-content: flex-end;
	text-align: center;
	background: #ffffff
}

div#blank {
	width: 10vw
}

header {
	margin-top: 24px;
	display: inline-block;
	align-items: center;
	align-content: stretch;
	text-align: center;
	width: 100vw;
	background: #FFFFFF;
}

.main {
	margin: 50px 0px 0px 0px;
	text-align: center;
}

main {
	flex-wrap: nowrap;
	display: flex;
	justify-content: center;
}
.title {
	margin:0 0 0 0;
	padding:0;
	font-weight: 500;
}
.date{
	text-align:end;
	margin:0 0 6px 0;
	font-size:10px
}
.letter{
	text-align:left !important;
	font-weight: 400
}
.heading{
	background: #f5f5f5;
	margin: 5px 10px 5px 10px
}
#sitetitle {
	font-weight: 500;
}